body {
    /*padding-top: 50px;*/
    /*padding-bottom: 20px;*/
}

.container {
    /*padding-right: 15px;
    padding-left: 15px;*/
     margin-right: 0; 
     margin-left: 0; 
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar .container {
   
}

#navbar_container {
    height: 40px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.sp-panel .ms-Panel {
    z-index: 2000;
}

.sp-panel {
    /*margin-top: 50px;*/
}

.sp-navbar {
    /*position: fixed;
    top: 50px;
    z-index: 200;
    right: 0;
    left: 0;
    opacity: 0.7;*/
}

    .sp-navbar input.ms-CommandBarSearch-input {
        padding: 8px 8px 8px 0;
        border: none;
        border-left: 42px solid transparent;
        background-color: transparent;
    }

    .sp-navbar:hover {
        opacity: 1;
    }


.sp-spinner {
    margin-top: 5px;
}

table.spitem-menu {
    width: 100%;
}

    table.spitem-menu td.contextual-menu {
        float: right;
    }

.sp-panel .pager a {
    cursor: pointer;
}

.sp-panel .pager a:hover {
    text-decoration: none;
}

.sp-navbar a:hover {
    text-decoration: none;
}

.my-account{
    height:50px;
    margin:0;
    padding:0;
    width: 100%;
}

.my-account .ms-Persona-primaryText {
    color: white;
}

.account-details .account-actions{
    padding: 20px 5px;
}

.ms-CommandBarItem.is-disabled .ms-CommandBarItem-icon,
.ms-CommandBarItem.is-disabled .ms-CommandBarItem-commandText {
  color: #A6A6A6;
}

.ms-CommandBarItem.is-disabled .ms-CommandBarItem-link {
  cursor: default;
}

.ms-CommandBarItem.is-disabled:hover {
  background-color: #EFF6FC;
}

.ms-NavBar-item {
    width: 100%;
}
.ms-NavBar-item:hover {
    border-bottom: 0px none transparent;
}

.ms-NavBar {
    padding: 0;
    margin: 0 10px;
    background-color: transparent;
}

.ms-Dialog {
    z-index: 3000;
}

.ms-Dialog-content {
    overflow: auto;
    padding: 1px;
    max-height: 400px;
}

.ms-Callout {
    position: absolute;
    line-height: normal;
}

.ms-Callout-content {
    overflow: auto;
    padding: 1px;
    max-height: 400px;
}