@{
    ViewBag.Title = "Site Content";
}

@section scripts
{
    <script type="text/javascript">

        require(["app"], function (app) {
            //$(function() {
            //var listView = app.get_ListView({
            //    controllerName: "list-controller",
            //    listTitle: "Projects"
            //})
            //app.render(listView);

            var lists = app.get_Lists({
                controllerName: "list-controller"
            })
            app.render(lists);

            //});
        });

    </script>
}

<div class="jumbotron">
    <h2>Welcome @ViewBag.UserName!</h2>
</div>
<div ng-controller="list-controller">

    <uif-table uif-row-select-mode="multiple">
        <uif-table-head>
            <uif-table-row>
                <uif-table-row-select></uif-table-row-select>
                <uif-table-header uif-order-by="Title">Title</uif-table-header>
                <uif-table-header></uif-table-header>
                <uif-table-header uif-order-by="Type">Type</uif-table-header>
                <uif-table-header>Description</uif-table-header>
                <uif-table-header uif-order-by="ItemCount">Items</uif-table-header>
            </uif-table-row>
        </uif-table-head>
        <uif-table-body ng-repeat="list in lists | orderBy:table.orderBy:!table.orderAsc">
            <uif-table-row uif-item="list">
                <uif-table-row-select></uif-table-row-select>
                <uif-table-cell>{{list.$data.Title}}</uif-table-cell>
                <uif-pivot-ellipsis ng-click="openMenu(list)">
                    <uif-contextual-menu uif-is-open="list.$events.menuOpened" uif-close-on-click="true">
                        <uif-contextual-menu-item uif-text="'View'" ng-click="viewList(list)"></uif-contextual-menu-item>
                        <uif-contextual-menu-item uif-text="'Delete'"></uif-contextual-menu-item>
                        <uif-contextual-menu-item uif-text="'Settings'"></uif-contextual-menu-item>
                    </uif-contextual-menu>
                </uif-pivot-ellipsis>
                <uif-table-cell>{{list.$data.Type}}</uif-table-cell>
                <uif-table-cell>{{list.$data.Description}}</uif-table-cell>
                <uif-table-cell>{{list.$data.ItemCount}}</uif-table-cell>
            </uif-table-row>
        </uif-table-body>
    </uif-table>

</div>
