
@{
    ViewBag.Title = ViewBag.List.Title;
}

@section scripts
{
    <script type="text/javascript">
        require(["jquery", "angular", "app"], function ($, angular, app) {
            var listJson = app.$("<div />").html('@Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.List)').text();
            var list = JSON.parse(listJson);
            var listView = app.get_ListView({
                controllerName: "listview-controller",
                listId: list.Id,
                listTitle: list.Title,
                listUrl: list.ListUrl,
                viewId: list.ViewId,
                viewXml: app.$("<div />").html(list.ViewXml).text(),
                limit: list.RowLimit,
                paged: list.Paged,
                renderMethod: 1,
                renderOptions: 0 | 1 | 2 /*| 4 | 8*/,
                onload: function ($scope, factory) {
                    $scope.fields = list.Fields;
                    $scope.getFieldValue = function (listItem, field) {
                        var value = listItem.$data[field.Name];
                        switch (field.TypeKind) {
                            case 12: //Computed
                                switch (field.Name) {
                                    case "DocIcon":
                                        if (listItem.$data.FSObjType === "1") {
                                            value = "<uif-icon uif-type=\"folder\"></uif-icon>";
                                        } else {
                                            value = "<uif-icon uif-type=\"document\"></uif-icon>";
                                        }
                                        break;
                                    case "LinkTitle":
                                        value = "<a ng-click=\"selection.commandBar.view(listItem)\">" + listItem.$data["Title"] + "</a>";
                                        break;
                                    case "LinkFilename":
                                        value = "<a ng-click=\"selection.commandBar.view(listItem)\">" + listItem.$data["FileLeafRef"] + "</a>";
                                        break;
                                }
                                break;
                        }
                        if (field.ListItemMenuAllowed) {
                            value = String.format("<table class=\"spitem-menu\"><tr><td>{0}</td><td class=\"contextual-menu\">{1}</td></tr></table>", value, "<uif-pivot-ellipsis ng-click=\"selection.openMenu(listItem)\">" +
                                "<uif-contextual-menu ng-click=\"selection.openMenu(listItem)\" uif-is-open=\"listItem.$events.menuOpened\" uif-close-on-click=\"true\">" +
                                "<uif-contextual-menu-item uif-text=\"'VIEW'\" ng-click=\"selection.commandBar.view(listItem)\"></uif-contextual-menu-item>" +
                                "<uif-contextual-menu-item uif-text=\"'DELETE'\" ng-click=\"selection.commandBar.delete(listItem)\" disabled=\"{{listItem.$permissions.delete ? '' : 'disabled'}}\"></uif-contextual-menu-item>" +
                                "</uif-contextual-menu></uif-pivot-ellipsis>");
                        }
                        return value;
                    };
                    $scope.prevText = "-" + list.RowLimit;
                    $scope.nextText = "+" + list.RowLimit;
                }
            });

            $(app).on("app-error", function (ev, message, stackTrace) {
                alert(message);
            });

            if (!window.renderSPChrome) {
                app.render(listView);
            } else {
                $('body').on("chrome-loaded", function () {
                    app.$('#listView_container .sp-navbar').css("top", $('#navbar_container').height());
                    app.render(listView);
                });
            }
        });
    </script>
}

<div id="listView_container" ng-controller="listview-controller">
    <div class="sp-navbar">
        <uif-command-bar ng-cloak uif-search-term="selection.commandBar.searchTerm" placeholder="Search here...">
            <uif-command-bar-search></uif-command-bar-search>
            <uif-command-bar-side>
                <uif-command-bar-item ng-show="selection.commandBar.selectionText" ng-click="selection.commandBar.clearSelection()">
                    <uif-icon uif-type="trash"></uif-icon>
                    <span>{{selection.commandBar.selectionText}}</span>
                </uif-command-bar-item>
            </uif-command-bar-side>
            <uif-command-bar-main uif-show-overflow='table.selectedItems.length > 0'>
                <uif-command-bar-item ng-click="selection.pager.prev()" ng-show="selection.pager.prevEnabled">
                    <uif-icon uif-type="caretLeft"></uif-icon>
                    <span>{{prevText}}</span>
                </uif-command-bar-item>
                <uif-command-bar-item ng-click="selection.pager.refresh()" ng-show="selection.pager.first > 0">
                    <uif-icon uif-type="refresh"></uif-icon>
                    <span>{{selection.pager.first}} - {{selection.pager.last}}</span>
                </uif-command-bar-item>
                <uif-command-bar-item ng-click="selection.pager.next()" ng-show="selection.pager.nextEnabled">
                    <span>{{nextText}}</span>
                    <uif-icon uif-type="caretRight"></uif-icon>
                </uif-command-bar-item>
                <uif-command-bar-item ng-click="selection.commandBar.view()" ng-show="selection.commandBar.viewEnabled">
                    <uif-icon uif-type="eye"></uif-icon>
                    <span>VIEW</span>
                </uif-command-bar-item>
                <uif-command-bar-item ng-click="selection.commandBar.delete()" ng-show="selection.commandBar.deleteEnabled">
                    <uif-icon uif-type="xCircle"></uif-icon>
                    <span>DELETE</span>
                </uif-command-bar-item>
            </uif-command-bar-main>
        </uif-command-bar>
    </div>
    <div class="sp-panel">
        <h2>@ViewBag.Title</h2>
        <uif-table ng-cloak uif-row-select-mode="multiple">
            <uif-table-head>
                <uif-table-row>
                    <uif-table-row-select></uif-table-row-select>
                    <uif-table-header ng-repeat="field in fields" uif-order-by="{{field.Name}}"><span class="ms-u-noWrap">{{field.Title}}</span></uif-table-header>
                </uif-table-row>
            </uif-table-head>
            <uif-table-body>
                <uif-table-row ng-repeat="listItem in listItems | orderBy:table.orderBy:!table.orderAsc" uif-item="listItem" uif-selected="{{listItem.$events.isSelected}}">
                    <uif-table-row-select></uif-table-row-select>
                    <uif-table-cell ng-repeat="field in fields" compile="getFieldValue(listItem,field)" uif-item="field"></uif-table-cell>
                </uif-table-row>
            </uif-table-body>
        </uif-table>
        <ul ng-cloak class="pager" ng-show="selection.pager.first > 0">
            <li><a class="page-prev" ng-click="selection.pager.prev()" ng-show="selection.pager.prevEnabled"><span>{{prevText}}</span></a></li>
            <li><a class="page-title" ng-click="selection.pager.refresh()"><span>{{selection.pager.first}} - {{selection.pager.last}}</span></a></li>
            <li><a class="page-next" ng-click="selection.pager.next()" ng-show="selection.pager.nextEnabled"><span>{{nextText}}</span></a></li>
        </ul>
    </div>
</div>
