
@{
    ViewBag.Title = ViewBag.List.Title;
}

@section scripts
{
    <script type="text/javascript">
        require(["jquery", "angular", "app"], function ($, angular, app) {
            if (app.is_initialized()) {
                init();
            } else {
                $(app).on("app-init", init);
            }

            function init() {
                var listJson = '@Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.List))';
                var list = JSON.parse(listJson);
                var viewXml = "<View" + (Number(list.Scope) > 0 ? " Scope=\"" + CamlBuilder.ViewScope[Number(list.Scope) - 1] + "\"" : "") + ">";
                var viewJoins = app.$("<div />").html(list.ViewJoins).text();
                var viewProjectedFields = app.$("<div />").html(list.ViewProjectedFields).text();
                var viewQuery = app.$("<div />").html(list.ViewQuery).text();
                if (viewQuery) {
                    viewXml += "<Query>";
                    viewXml += viewQuery;
                    viewXml += "</Query>";
                }
                if (viewJoins) {
                    viewXml += "<Joins>";
                    viewXml += viewJoins;
                    viewXml += "</Joins>";
                }
                if (viewProjectedFields) {
                    viewXml += "<ProjectedFields>";
                    viewXml += viewProjectedFields;
                    viewXml += "</ProjectedFields>";
                }
                if (Number(list.RowLimit) > 0) {
                    viewXml += "<RowLimit" + (Boolean(list.Paged) ? " Paged=\"TRUE\"" : "") + ">" + list.RowLimit + "</RowLimit>";
                }
                if ($.isArray(list.Fields)) {
                    viewXml += new CamlBuilder().ViewFields($.map(list.Fields, function (field) {
                        return field.Name;
                    })).ToString();
                }
                viewXml += "</View>";
                //var viewXml = app.$("<div />").html(list.ViewSchema).text();
                var listView = app.get_ListView({
                    controllerName: "listview-controller",
                    listId: list.Id,
                    listTitle: list.Title,
                    listUrl: list.ListUrl,
                    viewId: list.ViewId,
                    viewXml: viewXml,
                    limit: list.RowLimit,
                    paged: list.Paged,
                    scope: Number(list.Scope) > 0 ? Number(list.Scope) - 1 : null,
                    viewFields: $.isArray(list.Fields) ? $.map(list.Fields, function (field) {
                        return field.Name;
                    }) : null,
                    renderMethod: null,
                    renderOptions: 0 | 1 | 2 /*| 4 | 8*/,
                    delay: 600
                });

                $(listView).on("model-render", function (ev, $scope, factory) {
                    $scope.fields = list.Fields;
                    $scope.getFieldValue = function (listItem, field) {
                        var value = listItem.$data[field.Name];
                        switch (field.TypeKind) {
                            case SP.FieldType.computed:
                                switch (field.Name) {
                                    case "DocIcon":
                                        if (listItem.$data.FSObjType === "1") {
                                            value = "<uif-icon uif-type=\"folder\"></uif-icon>";
                                        } else {
                                            value = "<uif-icon uif-type=\"document\"></uif-icon>";
                                        }
                                        break;
                                    case "LinkTitle":
                                    case "LinkTitleNoMenu":
                                        value = "<a ng-click=\"selection.commandBar.view(listItem)\">" + (value ? value : listItem.$data["Title"]) + "</a>";
                                        break;
                                    case "LinkFilename":
                                    case "LinkFilenameNoMenu":
                                        value = "<a ng-click=\"selection.commandBar.view(listItem)\">" + (value ? value : listItem.$data["FileLeafRef"]) + "</a>";
                                        break;
                                    case "FileSizeDisplay":
                                        value = listItem.$data["File_x0020_Size"];
                                        if (value) {
                                            var sizes = ['B', 'KB', 'MB', 'GB', 'TB'];
                                            var bytes = Number(value);
                                            if (bytes === 0 || isNaN(bytes)) {
                                                value = '0 B';
                                            } else {
                                                var i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)));
                                                value = Math.round(bytes / Math.pow(1024, i), 2) + ' ' + sizes[i];
                                            }
                                        }
                                        break;
                                    case "ImageSize":
                                        if (listItem.$data["ImageWidth"] && listItem.$data["ImageHeight"])
                                            value = [listItem.$data["ImageWidth"], listItem.$data["ImageHeight"]].join(" x ");
                                        break;
                                }
                                break;
                            case SP.FieldType.user:
                                if (value) {
                                    if ($.isArray(value)) {
                                        value = $.map(value, function (item) {
                                            return "<a>" + item.title + "</a>";
                                        }).join('<br />');
                                    } else {
                                        value = value.title;
                                    }
                                }
                                break;
                        }
                        if (field.ListItemMenuAllowed) {
                            value = String.format("<table class=\"spitem-menu\"><tr><td>{0}</td><td class=\"contextual-menu\">{1}</td></tr></table>", value, "<uif-pivot-ellipsis ng-click=\"selection.openMenu(listItem)\">" +
                                "<uif-contextual-menu ng-click=\"selection.openMenu(listItem)\" uif-is-open=\"listItem.$events.menuOpened\" uif-close-on-click=\"true\">" +
                                "<uif-contextual-menu-item uif-text=\"'VIEW'\" ng-click=\"selection.commandBar.view(listItem)\"></uif-contextual-menu-item>" +
                                "<uif-contextual-menu-item uif-text=\"'DELETE'\" ng-click=\"selection.commandBar.delete(listItem)\" disabled=\"{{listItem.$permissions.delete ? '' : 'disabled'}}\"></uif-contextual-menu-item>" +
                                "</uif-contextual-menu></uif-pivot-ellipsis>");
                        }
                        return value;
                    };
                    $scope.prevText = "-" + list.RowLimit;
                    $scope.nextText = "+" + list.RowLimit;
                });

                $(listView).on("search-item", function (ev, filters, term) {
                    filters.push({ field: "Title", fieldType: SP.FieldType.text, value: term, operation: 7 });
                });

                $(app).on("app-error", function (ev, message, stackTrace) {
                    alert(message);
                });

                if (!window.renderSPChrome) {
                    app.render([listView]);
                } else {
                    $('body').on("chrome-loaded", function () {
                        app.$('#listView_container .sp-navbar').css("top", $('#navbar_container').height());
                        app.render([listView]);
                    });
                }
            }
        });
    </script>
}

<div id="listView_container" ng-controller="listview-controller">
    <div class="sp-navbar">
        <uif-command-bar ng-cloak uif-search-term="selection.commandBar.searchTerm" placeholder="Search here...">
            <uif-command-bar-search></uif-command-bar-search>
            <uif-command-bar-side>
                <uif-command-bar-item ng-show="selection.commandBar.selectionText" ng-click="selection.commandBar.clearSelection()">
                    <uif-icon uif-type="trash"></uif-icon>
                    <span>{{selection.commandBar.selectionText}}</span>
                </uif-command-bar-item>
            </uif-command-bar-side>
            <uif-command-bar-main uif-show-overflow='table.selectedItems.length > 0'>
                <uif-command-bar-item ng-click="selection.pager.prev()" ng-show="selection.pager.first > 0" ng-class="{'is-disabled': !selection.pager.prevEnabled}">
                    <uif-icon uif-type="caretLeft"></uif-icon>
                    <span>{{prevText}}</span>
                </uif-command-bar-item>
                <uif-command-bar-item ng-click="selection.pager.refresh()" ng-show="selection.pager.first > 0">
                    <uif-icon uif-type="refresh"></uif-icon>
                    <span>{{selection.pager.first}} - {{selection.pager.last}}</span>
                </uif-command-bar-item>
                <uif-command-bar-item ng-click="selection.pager.next()" ng-show="selection.pager.first > 0" ng-class="{'is-disabled': !selection.pager.nextEnabled}">
                    <span>{{nextText}}</span>
                    <uif-icon uif-type="caretRight"></uif-icon>
                </uif-command-bar-item>
                <uif-command-bar-item ng-click="selection.commandBar.view()" ng-show="selection.commandBar.viewEnabled">
                    <uif-icon uif-type="eye"></uif-icon>
                    <span>VIEW</span>
                </uif-command-bar-item>
                <uif-command-bar-item ng-click="selection.commandBar.delete()" ng-show="selection.commandBar.deleteEnabled">
                    <uif-icon uif-type="xCircle"></uif-icon>
                    <span>DELETE</span>
                </uif-command-bar-item>
            </uif-command-bar-main>
        </uif-command-bar>
    </div>
    <div class="sp-panel">
        <h2>@ViewBag.Title</h2>
        <uif-table ng-cloak uif-row-select-mode="multiple">
            <uif-table-head>
                <uif-table-row>
                    <uif-table-row-select></uif-table-row-select>
                    <uif-table-header ng-repeat="field in fields" uif-order-by="{{field.Name}}"><span class="ms-u-noWrap">{{field.Title}}</span></uif-table-header>
                </uif-table-row>
            </uif-table-head>
            <uif-table-body>
                <uif-table-row ng-repeat="listItem in listItems | orderBy:table.orderBy:!table.orderAsc" uif-item="listItem" uif-selected="{{listItem.$events.isSelected}}">
                    <uif-table-row-select></uif-table-row-select>
                    <uif-table-cell ng-repeat="field in fields" compile="getFieldValue(listItem,field)" uif-item="field"></uif-table-cell>
                </uif-table-row>
            </uif-table-body>
        </uif-table>
        <ul ng-cloak class="pager" ng-show="selection.pager.first > 0">
            <li ng-class="{'disabled': !selection.pager.prevEnabled}"><uif-link class="page-prev" ng-click="selection.pager.prev()">{{prevText}}</uif-link></li>
            <li><uif-link class="page-title" ng-click="selection.pager.refresh()">{{selection.pager.first}} - {{selection.pager.last}}</uif-link></li>
            <li ng-class="{'disabled': !selection.pager.nextEnabled}"><uif-link class="page-next" ng-click="selection.pager.next()">{{nextText}}</uif-link></li>
        </ul>
    </div>
</div>
